*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #D3E7EE;
}
    /* Title Section */
.title{
    text-align: center;
    color: blue;
   margin-top: 8px;

}

    /* End Title Section */

    /*--Start Main Calculator Section-----*/

.calculator{
    display: grid;
    grid-template: repeat(6,70px) / repeat(4,1fr);
    width: 350px;
    margin: 20px auto;
    border-radius: 25px;
    padding: 20px;
    background-color: #ca4ef0;
    gap: 10px;


}
.display{
    grid-column: 1 / -1;

}
.display input{
    font-size: 25px;
    padding: 0px 10px;
    text-align: right;
    border: none;
    
   
    
}

.icon button{
    width: 100%;
    height: 100%;
    background-color: #f02626;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    border: none;
}
/* .icon button:hover{
    background-color: #D1D1D1;
    color: #202020;
} */


input{
    width: 100%;
    height: 100%;

}
.items input{
    background-color: #ca4ef0;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    border: none;

}
/* .items input:hover{
    background-color: #D1D1D1;
    color: #202020;
} */

#clr input{
    background-color: rgba(240, 48, 48, 0.329);
    border-radius: 50%;
    overflow: hidden;
}
#equal input{
    background-color: rgba(0, 0, 255, 0.342);
    border-radius: 50%;
}
#multipulation input{
    background-color: rgba(79, 241, 106, 0.815);
    border-radius: 50%;
}
#division input{
    background-color: rgba(102, 105, 245, 0.856);
    border-radius: 50%;
}
#substruction input{
    background-color: rgba(53, 207, 245, 0.767);
    border-radius: 50%;
}
#summation input{
    background-color: rgba(233, 179, 62, 0.726);
    border-radius: 50%;
}

  /* footer section */
  footer{
      text-align: center;
      background-color:rgba(0, 0, 0, 0.774);
      color: white;
      padding: 10px 0px;
      width: 100%;

  }
  footer a{
      color: rgb(194, 47, 47);
  }

@media only screen and (max-width:410px){
    .calculator{
        width: 90%;
    }
}